asgiref==3.10.0
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==4.2
django-crispy-forms==2.4
environs==14.5.0
gunicorn==23.0.0
marshmallow==4.1.0
packaging==25.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.3
whitenoise==6.11.0
